In [22]:
import pandas as pd
import random
import numpy as np

In [2]:
df = pd.read_csv('data/train.csv')

In [3]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
df.shape

(891, 12)

# Simple KFold

In [5]:
from sklearn.model_selection import KFold

In [6]:
kf = KFold(n_splits=3, shuffle=True)

In [7]:
X_columns = [col for col in df.columns if col != 'Survived']
y_columns = ['Survived']

In [8]:
trn_sets = []
tst_sets = []

# kf.split: return the index of train / test dataset
for i, (trn_idxs, tst_idxs) in enumerate(kf.split(df[X_columns], df[y_columns])):
    print(f'Train set ({i+1}) indexes: ')
    print(trn_idxs)
    print(f'Test set ({i+1}) indexes: ')
    print(tst_idxs)

    trn_sets.append(df.loc[trn_idxs])
    tst_sets.append(df.loc[tst_idxs])

Train set (1) indexes:
[  1   3   4   6   7   8   9  13  14  17  18  19  20  21  22  23  24  25
  28  31  32  33  35  36  37  38  39  41  43  44  46  47  48  49  51  52
  55  56  57  58  59  61  62  65  66  67  69  70  71  72  74  75  76  78
  79  81  82  84  85  87  89  90  92  93  94 100 101 103 104 105 106 109
 110 113 116 118 120 121 123 124 125 126 127 128 129 130 131 133 134 136
 137 138 139 140 143 144 148 149 151 152 153 154 156 158 160 161 162 164
 166 167 168 169 170 171 172 173 174 175 176 177 178 180 181 184 185 188
 189 190 193 194 195 197 198 199 200 202 203 205 208 210 212 213 214 215
 217 218 219 220 221 222 223 224 228 231 232 233 234 235 236 237 241 243
 244 245 247 248 249 250 251 252 253 254 255 257 258 260 261 262 265 266
 267 268 269 271 272 274 275 276 277 278 279 280 281 282 289 292 293 299
 301 302 303 306 308 309 310 311 313 314 315 316 319 320 321 322 323 324
 330 331 332 333 334 335 337 339 342 344 345 346 348 349 350 352 353 354
 355 356 357 358 359 360 361 362 363 365 366 368 370 371 372 373 374 375
 377 378 385 386 387 389 390 392 393 395 396 399 400 401 404 409 410 411
 412 413 414 418 419 420 421 422 423 424 425 426 427 430 432 433 434 438
 439 441 442 443 445 446 447 449 451 452 453 454 455 458 460 461 463 464
 465 466 467 469 470 471 473 474 475 476 477 478 479 480 481 483 484 485
 486 487 488 489 490 491 492 493 494 495 496 497 499 500 501 502 504 507
 508 510 511 513 514 517 518 521 522 523 524 526 527 528 530 531 532 536
 537 538 539 540 542 543 544 546 548 549 550 552 553 554 555 556 560 561
 563 564 565 566 567 570 571 572 573 574 575 577 584 585 589 590 593 594
 597 598 599 601 603 604 605 606 607 608 610 611 612 613 621 625 627 631
 632 634 635 636 637 638 639 640 641 642 643 646 648 649 651 652 653 654
 655 658 659 661 662 663 664 665 666 667 668 669 670 671 672 673 674 675
 677 679 682 686 687 688 694 697 698 702 703 704 705 706 707 708 710 712
 714 717 718 719 721 722 723 724 725 726 730 732 733 734 736 737 739 740
 741 742 743 744 745 746 750 751 752 753 754 755 756 757 758 759 760 761
 762 763 764 766 767 768 769 771 772 773 775 776 779 782 783 784 785 786
 789 790 791 793 795 796 797 799 800 801 802 804 805 808 809 810 813 814
 815 817 818 819 820 821 824 825 826 828 830 833 834 835 836 840 841 842
 844 847 850 851 852 854 855 856 857 858 859 860 861 862 863 864 865 866
 867 868 870 871 872 873 874 875 876 877 878 880 882 884 886 887 889 890]
Test set (1) indexes:
[  0   2   5  10  11  12  15  16  26  27  29  30  34  40  42  45  50  53
  54  60  63  64  68  73  77  80  83  86  88  91  95  96  97  98  99 102
 107 108 111 112 114 115 117 119 122 132 135 141 142 145 146 147 150 155
 157 159 163 165 179 182 183 186 187 191 192 196 201 204 206 207 209 211
 216 225 226 227 229 230 238 239 240 242 246 256 259 263 264 270 273 283
 284 285 286 287 288 290 291 294 295 296 297 298 300 304 305 307 312 317
 318 325 326 327 328 329 336 338 340 341 343 347 351 364 367 369 376 379
 380 381 382 383 384 388 391 394 397 398 402 403 405 406 407 408 415 416
 417 428 429 431 435 436 437 440 444 448 450 456 457 459 462 468 472 482
 498 503 505 506 509 512 515 516 519 520 525 529 533 534 535 541 545 547
 551 557 558 559 562 568 569 576 578 579 580 581 582 583 586 587 588 591
 592 595 596 600 602 609 614 615 616 617 618 619 620 622 623 624 626 628
 629 630 633 644 645 647 650 656 657 660 676 678 680 681 683 684 685 689
 690 691 692 693 695 696 699 700 701 709 711 713 715 716 720 727 728 729
 731 735 738 747 748 749 765 770 774 777 778 780 781 787 788 792 794 798
 803 806 807 811 812 816 822 823 827 829 831 832 837 838 839 843 845 846
 848 849 853 869 879 881 883 885 888]
Train set (2) indexes:
[  0   2   3   4   5   6   7  10  11  12  13  15  16  19  22  25  26  27
  28  29  30  33  34  35  38  40  42  45  46  48  50  52  53  54  57  58
  60  63  64  65  66  68  70  71  73  77  78  79  80  81  83  85  86  88
  90  91  92  93  94  95  96  97  98  99 101 102 103 107 108 111 112 113
 114 115 117 119 121 122 123 131 132 133 134 135 136 140 141 142 143 144
 145 146 147 148 150 155 156 157 159 160 161 163 164 165 168 169 171 172
 173 174 175 179 180 182 183 184 186 187 190 191 192 193 194 196 197 199
 201 203 204 205 206 207 208 209 210 211 212 214 216 219 220 222 225 226
 227 229 230 232 233 234 235 238 239 240 242 243 246 247 248 249 253 254
 255 256 258 259 260 263 264 265 266 267 268 270 271 272 273 274 275 278
 279 283 284 285 286 287 288 290 291 294 295 296 297 298 300 303 304 305
 306 307 308 309 310 312 313 317 318 322 324 325 326 327 328 329 330 334
 336 338 339 340 341 342 343 345 347 348 350 351 353 355 356 359 362 363
 364 365 367 369 371 374 375 376 377 378 379 380 381 382 383 384 385 387
 388 390 391 392 393 394 396 397 398 399 401 402 403 405 406 407 408 409
 410 413 415 416 417 418 420 421 426 428 429 431 434 435 436 437 438 439
 440 443 444 445 447 448 449 450 455 456 457 458 459 460 462 463 464 468
 469 470 472 475 476 477 479 481 482 484 485 486 487 488 489 491 492 493
 496 498 500 503 504 505 506 507 508 509 512 513 514 515 516 519 520 521
 522 525 526 528 529 530 531 532 533 534 535 536 540 541 542 545 547 551
 552 555 556 557 558 559 560 561 562 563 565 567 568 569 571 574 575 576
 578 579 580 581 582 583 585 586 587 588 589 591 592 593 595 596 597 598
 600 601 602 605 606 607 609 611 613 614 615 616 617 618 619 620 621 622
 623 624 625 626 628 629 630 633 634 638 639 640 642 644 645 646 647 650
 653 654 656 657 659 660 663 665 666 667 670 672 674 675 676 677 678 680
 681 683 684 685 687 689 690 691 692 693 695 696 698 699 700 701 702 703
 704 706 708 709 711 712 713 714 715 716 718 719 720 722 723 725 726 727
 728 729 730 731 732 734 735 737 738 743 744 747 748 749 750 752 753 757
 758 760 762 763 764 765 768 770 773 774 776 777 778 780 781 786 787 788
 789 790 791 792 794 795 796 797 798 799 802 803 804 805 806 807 809 810
 811 812 815 816 817 819 820 821 822 823 825 826 827 829 831 832 835 836
 837 838 839 841 843 845 846 847 848 849 851 852 853 854 855 856 857 858
 861 865 868 869 871 874 875 877 879 880 881 883 885 886 887 888 889 890]
Test set (2) indexes:
[  1   8   9  14  17  18  20  21  23  24  31  32  36  37  39  41  43  44
  47  49  51  55  56  59  61  62  67  69  72  74  75  76  82  84  87  89
 100 104 105 106 109 110 116 118 120 124 125 126 127 128 129 130 137 138
 139 149 151 152 153 154 158 162 166 167 170 176 177 178 181 185 188 189
 195 198 200 202 213 215 217 218 221 223 224 228 231 236 237 241 244 245
 250 251 252 257 261 262 269 276 277 280 281 282 289 292 293 299 301 302
 311 314 315 316 319 320 321 323 331 332 333 335 337 344 346 349 352 354
 357 358 360 361 366 368 370 372 373 386 389 395 400 404 411 412 414 419
 422 423 424 425 427 430 432 433 441 442 446 451 452 453 454 461 465 466
 467 471 473 474 478 480 483 490 494 495 497 499 501 502 510 511 517 518
 523 524 527 537 538 539 543 544 546 548 549 550 553 554 564 566 570 572
 573 577 584 590 594 599 603 604 608 610 612 627 631 632 635 636 637 641
 643 648 649 651 652 655 658 661 662 664 668 669 671 673 679 682 686 688
 694 697 705 707 710 717 721 724 733 736 739 740 741 742 745 746 751 754
 755 756 759 761 766 767 769 771 772 775 779 782 783 784 785 793 800 801
 808 813 814 818 824 828 830 833 834 840 842 844 850 859 860 862 863 864
 866 867 870 872 873 876 878 882 884]
Train set (3) indexes:
[  0   1   2   5   8   9  10  11  12  14  15  16  17  18  20  21  23  24
  26  27  29  30  31  32  34  36  37  39  40  41  42  43  44  45  47  49
  50  51  53  54  55  56  59  60  61  62  63  64  67  68  69  72  73  74
  75  76  77  80  82  83  84  86  87  88  89  91  95  96  97  98  99 100
 102 104 105 106 107 108 109 110 111 112 114 115 116 117 118 119 120 122
 124 125 126 127 128 129 130 132 135 137 138 139 141 142 145 146 147 149
 150 151 152 153 154 155 157 158 159 162 163 165 166 167 170 176 177 178
 179 181 182 183 185 186 187 188 189 191 192 195 196 198 200 201 202 204
 206 207 209 211 213 215 216 217 218 221 223 224 225 226 227 228 229 230
 231 236 237 238 239 240 241 242 244 245 246 250 251 252 256 257 259 261
 262 263 264 269 270 273 276 277 280 281 282 283 284 285 286 287 288 289
 290 291 292 293 294 295 296 297 298 299 300 301 302 304 305 307 311 312
 314 315 316 317 318 319 320 321 323 325 326 327 328 329 331 332 333 335
 336 337 338 340 341 343 344 346 347 349 351 352 354 357 358 360 361 364
 366 367 368 369 370 372 373 376 379 380 381 382 383 384 386 388 389 391
 394 395 397 398 400 402 403 404 405 406 407 408 411 412 414 415 416 417
 419 422 423 424 425 427 428 429 430 431 432 433 435 436 437 440 441 442
 444 446 448 450 451 452 453 454 456 457 459 461 462 465 466 467 468 471
 472 473 474 478 480 482 483 490 494 495 497 498 499 501 502 503 505 506
 509 510 511 512 515 516 517 518 519 520 523 524 525 527 529 533 534 535
 537 538 539 541 543 544 545 546 547 548 549 550 551 553 554 557 558 559
 562 564 566 568 569 570 572 573 576 577 578 579 580 581 582 583 584 586
 587 588 590 591 592 594 595 596 599 600 602 603 604 608 609 610 612 614
 615 616 617 618 619 620 622 623 624 626 627 628 629 630 631 632 633 635
 636 637 641 643 644 645 647 648 649 650 651 652 655 656 657 658 660 661
 662 664 668 669 671 673 676 678 679 680 681 682 683 684 685 686 688 689
 690 691 692 693 694 695 696 697 699 700 701 705 707 709 710 711 713 715
 716 717 720 721 724 727 728 729 731 733 735 736 738 739 740 741 742 745
 746 747 748 749 751 754 755 756 759 761 765 766 767 769 770 771 772 774
 775 777 778 779 780 781 782 783 784 785 787 788 792 793 794 798 800 801
 803 806 807 808 811 812 813 814 816 818 822 823 824 827 828 829 830 831
 832 833 834 837 838 839 840 842 843 844 845 846 848 849 850 853 859 860
 862 863 864 866 867 869 870 872 873 876 878 879 881 882 883 884 885 888]
Test set (3) indexes:
[  3   4   6   7  13  19  22  25  28  33  35  38  46  48  52  57  58  65
  66  70  71  78  79  81  85  90  92  93  94 101 103 113 121 123 131 133
 134 136 140 143 144 148 156 160 161 164 168 169 171 172 173 174 175 180
 184 190 193 194 197 199 203 205 208 210 212 214 219 220 222 232 233 234
 235 243 247 248 249 253 254 255 258 260 265 266 267 268 271 272 274 275
 278 279 303 306 308 309 310 313 322 324 330 334 339 342 345 348 350 353
 355 356 359 362 363 365 371 374 375 377 378 385 387 390 392 393 396 399
 401 409 410 413 418 420 421 426 434 438 439 443 445 447 449 455 458 460
 463 464 469 470 475 476 477 479 481 484 485 486 487 488 489 491 492 493
 496 500 504 507 508 513 514 521 522 526 528 530 531 532 536 540 542 552
 555 556 560 561 563 565 567 571 574 575 585 589 593 597 598 601 605 606
 607 611 613 621 625 634 638 639 640 642 646 653 654 659 663 665 666 667
 670 672 674 675 677 687 698 702 703 704 706 708 712 714 718 719 722 723
 725 726 730 732 734 737 743 744 750 752 753 757 758 760 762 763 764 768
 773 776 786 789 790 791 795 796 797 799 802 804 805 809 810 815 817 819
 820 821 825 826 835 836 841 847 851 852 854 855 856 857 858 861 865 868
 871 874 875 877 880 886 887 889 890]

In [9]:
tst_sets[2]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

- <span style = 'font-size:1.4em;line-height:1.5em'><b>분할된 데이터셋에는 클래스(레이블)의 비율이 다릅니다.</b></span>

In [11]:
print('Class ratio for every splitted dataset')

for i in range(3):
    df_trn = trn_sets[i]
    df_tst = tst_sets[i] 
    
    df_trn_class1 = df_trn[df_trn['Survived'] == 1]
    df_tst_class1 = df_tst[df_tst['Survived'] == 1]
    
    print(f"Split {i+1}")
    print(f"# of Train dataset: {df_trn.shape[0]}")
    print(f"# of Test dataset: {df_tst.shape[0]}")
    print(f"# of Survived=1 in Train dataset: {df_trn_class1.shape[0]}")
    print(f"# of Survived=1 in Test dataset: {df_tst_class1.shape[0]}")
    print(f"The ratio of Survied=1 in Train dataset: {df_trn_class1.shape[0] / df_trn.shape[0]}")
    print(f"The ratio of Survied=1 in Test dataset: {df_tst_class1.shape[0] / df_tst.shape[0]}")

Class ratio for every splitted dataset
Split 1
# of Train dataset: 594
# of Test dataset: 297
# of Survived=1 in Train dataset: 220
# of Survived=1 in Test dataset: 122
The ratio of Survied=1 in Train dataset: 0.37037037037037035
The ratio of Survied=1 in Test dataset: 0.4107744107744108
Split 2
# of Train dataset: 594
# of Test dataset: 297
# of Survived=1 in Train dataset: 233
# of Survived=1 in Test dataset: 109
The ratio of Survied=1 in Train dataset: 0.39225589225589225
The ratio of Survied=1 in Test dataset: 0.367003367003367
Split 3
# of Train dataset: 594
# of Test dataset: 297
# of Survived=1 in Train dataset: 231
# of Survived=1 in Test dataset: 111
The ratio of Survied=1 in Train dataset: 0.3888888888888889
The ratio of Survied=1 in Test dataset: 0.37373737373737376

# Stratified KFold

- <span style = 'font-size:1.3em;line-height:1.5em'><b>분할된 데이터셋에서 동일한 레이블 비율을 가질 수 있도록 데이터를 분할하는 방법입니다.</b></span>

In [13]:
from sklearn.model_selection import StratifiedKFold

In [18]:
kf_stratified = StratifiedKFold(n_splits=3, shuffle=True)

In [19]:
X_columns = [col for col in df.columns if col != 'Survived']
y_columns = ['Survived']

In [20]:
trn_sets = []
tst_sets = []

# kf.split: return the index of train / test dataset
for i, (trn_idxs, tst_idxs) in enumerate(kf_stratified.split(df[X_columns], df[y_columns])):
    print(f'Train set ({i+1}) indexes: ')
    print(trn_idxs)
    print(f'Test set ({i+1}) indexes: ')
    print(tst_idxs)

    trn_sets.append(df.loc[trn_idxs])
    tst_sets.append(df.loc[tst_idxs])

Train set (1) indexes:
[  2   3   5   6   9  11  13  14  16  18  19  20  21  23  24  25  26  27
  28  29  30  32  33  35  36  37  39  41  42  44  46  50  52  54  55  59
  60  61  62  63  64  65  69  70  71  72  73  74  75  76  77  78  79  80
  81  82  83  87  88  91  94  95  96  97  98  99 100 101 104 105 106 107
 108 109 110 111 112 113 115 116 117 118 119 120 122 124 125 126 127 130
 131 132 135 136 138 140 141 146 148 150 151 152 153 154 156 157 159 161
 163 167 168 169 172 173 174 175 176 177 178 184 185 187 188 190 191 192
 193 194 196 198 200 201 202 203 204 206 207 209 210 212 215 217 218 219
 222 223 224 225 226 227 229 231 232 233 236 239 240 241 243 244 245 246
 250 251 252 253 256 257 259 260 261 262 263 264 268 269 273 275 276 277
 278 279 280 281 285 286 287 288 289 290 291 294 296 297 300 301 302 303
 304 305 306 308 310 312 313 314 315 317 319 320 321 322 323 324 326 327
 328 329 330 331 332 333 335 336 338 339 340 341 343 344 345 349 350 352
 354 355 356 357 358 359 363 364 365 366 367 368 369 370 372 374 375 376
 377 378 379 380 381 382 383 385 386 387 388 389 390 391 393 395 397 401
 404 405 407 408 409 411 412 413 415 416 419 420 421 422 423 424 425 426
 427 428 429 430 431 432 433 435 437 438 439 440 441 442 444 446 447 448
 451 455 456 457 458 459 460 461 462 463 464 465 466 468 469 470 471 475
 476 479 481 482 485 486 487 488 490 491 493 494 495 496 498 499 502 503
 504 505 507 509 510 512 515 516 517 518 519 521 522 523 525 526 529 530
 531 534 535 537 538 539 541 542 544 546 547 549 550 551 552 553 554 555
 557 558 559 562 565 566 567 568 569 570 572 573 574 575 576 577 578 580
 581 582 583 584 585 587 588 590 591 592 594 596 598 600 601 602 604 605
 608 609 611 613 614 616 617 618 619 622 623 624 626 628 629 631 633 635
 637 638 639 640 641 642 644 645 646 647 648 650 651 652 653 654 655 658
 659 660 662 663 669 670 671 672 673 675 677 678 679 681 682 683 684 685
 686 687 688 689 690 691 693 694 697 698 700 702 704 705 706 709 710 711
 714 716 718 722 723 724 725 726 727 728 730 731 732 734 735 739 740 741
 743 745 746 747 749 750 752 753 755 756 757 763 765 772 773 774 776 779
 781 782 786 787 788 790 791 793 794 795 797 798 799 800 802 803 804 805
 807 809 810 811 814 816 818 819 820 822 823 825 826 827 828 830 831 832
 834 835 837 838 839 843 846 848 851 852 853 854 855 857 859 860 863 866
 868 870 871 873 874 875 876 879 880 881 882 883 884 885 886 887 889 890]
Test set (1) indexes:
[  0   1   4   7   8  10  12  15  17  22  31  34  38  40  43  45  47  48
  49  51  53  56  57  58  66  67  68  84  85  86  89  90  92  93 102 103
 114 121 123 128 129 133 134 137 139 142 143 144 145 147 149 155 158 160
 162 164 165 166 170 171 179 180 181 182 183 186 189 195 197 199 205 208
 211 213 214 216 220 221 228 230 234 235 237 238 242 247 248 249 254 255
 258 265 266 267 270 271 272 274 282 283 284 292 293 295 298 299 307 309
 311 316 318 325 334 337 342 346 347 348 351 353 360 361 362 371 373 384
 392 394 396 398 399 400 402 403 406 410 414 417 418 434 436 443 445 449
 450 452 453 454 467 472 473 474 477 478 480 483 484 489 492 497 500 501
 506 508 511 513 514 520 524 527 528 532 533 536 540 543 545 548 556 560
 561 563 564 571 579 586 589 593 595 597 599 603 606 607 610 612 615 620
 621 625 627 630 632 634 636 643 649 656 657 661 664 665 666 667 668 674
 676 680 692 695 696 699 701 703 707 708 712 713 715 717 719 720 721 729
 733 736 737 738 742 744 748 751 754 758 759 760 761 762 764 766 767 768
 769 770 771 775 777 778 780 783 784 785 789 792 796 801 806 808 812 813
 815 817 821 824 829 833 836 840 841 842 844 845 847 849 850 856 858 861
 862 864 865 867 869 872 877 878 888]
Train set (2) indexes:
[  0   1   4   7   8   9  10  12  13  14  15  16  17  18  20  21  22  24
  25  26  27  28  29  31  32  34  36  38  39  40  41  43  44  45  47  48
  49  51  52  53  55  56  57  58  60  61  62  63  66  67  68  69  71  72
  73  77  78  81  83  84  85  86  87  89  90  92  93  94  97  98  99 100
 101 102 103 104 105 107 108 109 111 112 114 115 118 119 120 121 122 123
 124 127 128 129 131 132 133 134 135 137 138 139 141 142 143 144 145 147
 148 149 152 154 155 157 158 159 160 162 163 164 165 166 167 168 170 171
 174 177 179 180 181 182 183 186 187 188 189 194 195 196 197 198 199 200
 202 205 207 208 209 211 212 213 214 216 217 218 220 221 222 225 226 227
 228 229 230 232 234 235 236 237 238 239 241 242 243 246 247 248 249 250
 253 254 255 256 258 259 262 265 266 267 268 269 270 271 272 274 277 279
 280 282 283 284 285 286 287 289 292 293 295 296 298 299 301 304 305 307
 309 311 312 314 315 316 317 318 319 321 323 325 330 331 334 335 337 340
 341 342 343 345 346 347 348 349 350 351 353 355 356 357 360 361 362 363
 364 366 368 369 371 372 373 374 375 378 380 384 385 387 389 391 392 393
 394 395 396 398 399 400 401 402 403 404 405 406 407 410 411 413 414 415
 417 418 422 423 424 426 428 430 432 434 436 437 439 442 443 445 446 448
 449 450 451 452 453 454 459 461 464 467 472 473 474 475 477 478 480 481
 483 484 486 487 489 490 492 493 494 495 497 498 500 501 503 504 505 506
 508 509 511 512 513 514 515 516 517 519 520 521 523 524 525 527 528 529
 530 531 532 533 535 536 539 540 543 545 547 548 549 550 556 557 558 560
 561 563 564 565 567 569 571 576 578 579 583 585 586 587 588 589 590 591
 593 595 597 598 599 600 602 603 605 606 607 610 612 613 615 618 619 620
 621 622 624 625 627 628 630 631 632 634 636 637 638 639 643 646 647 649
 651 656 657 660 661 662 663 664 665 666 667 668 671 673 674 676 679 680
 682 684 685 687 690 691 692 694 695 696 697 698 699 701 702 703 704 706
 707 708 709 710 712 713 715 717 719 720 721 722 723 725 726 727 729 730
 731 732 733 734 735 736 737 738 740 741 742 743 744 746 747 748 749 751
 753 754 757 758 759 760 761 762 764 766 767 768 769 770 771 773 774 775
 776 777 778 779 780 781 782 783 784 785 786 787 789 792 795 796 801 803
 805 806 807 808 809 810 812 813 815 816 817 818 821 824 828 829 833 835
 836 837 838 840 841 842 844 845 846 847 848 849 850 851 853 856 857 858
 861 862 864 865 866 867 869 871 872 874 877 878 879 881 882 887 888 889]
Test set (2) indexes:
[  2   3   5   6  11  19  23  30  33  35  37  42  46  50  54  59  64  65
  70  74  75  76  79  80  82  88  91  95  96 106 110 113 116 117 125 126
 130 136 140 146 150 151 153 156 161 169 172 173 175 176 178 184 185 190
 191 192 193 201 203 204 206 210 215 219 223 224 231 233 240 244 245 251
 252 257 260 261 263 264 273 275 276 278 281 288 290 291 294 297 300 302
 303 306 308 310 313 320 322 324 326 327 328 329 332 333 336 338 339 344
 352 354 358 359 365 367 370 376 377 379 381 382 383 386 388 390 397 408
 409 412 416 419 420 421 425 427 429 431 433 435 438 440 441 444 447 455
 456 457 458 460 462 463 465 466 468 469 470 471 476 479 482 485 488 491
 496 499 502 507 510 518 522 526 534 537 538 541 542 544 546 551 552 553
 554 555 559 562 566 568 570 572 573 574 575 577 580 581 582 584 592 594
 596 601 604 608 609 611 614 616 617 623 626 629 633 635 640 641 642 644
 645 648 650 652 653 654 655 658 659 669 670 672 675 677 678 681 683 686
 688 689 693 700 705 711 714 716 718 724 728 739 745 750 752 755 756 763
 765 772 788 790 791 793 794 797 798 799 800 802 804 811 814 819 820 822
 823 825 826 827 830 831 832 834 839 843 852 854 855 859 860 863 868 870
 873 875 876 880 883 884 885 886 890]
Train set (3) indexes:
[  0   1   2   3   4   5   6   7   8  10  11  12  15  17  19  22  23  30
  31  33  34  35  37  38  40  42  43  45  46  47  48  49  50  51  53  54
  56  57  58  59  64  65  66  67  68  70  74  75  76  79  80  82  84  85
  86  88  89  90  91  92  93  95  96 102 103 106 110 113 114 116 117 121
 123 125 126 128 129 130 133 134 136 137 139 140 142 143 144 145 146 147
 149 150 151 153 155 156 158 160 161 162 164 165 166 169 170 171 172 173
 175 176 178 179 180 181 182 183 184 185 186 189 190 191 192 193 195 197
 199 201 203 204 205 206 208 210 211 213 214 215 216 219 220 221 223 224
 228 230 231 233 234 235 237 238 240 242 244 245 247 248 249 251 252 254
 255 257 258 260 261 263 264 265 266 267 270 271 272 273 274 275 276 278
 281 282 283 284 288 290 291 292 293 294 295 297 298 299 300 302 303 306
 307 308 309 310 311 313 316 318 320 322 324 325 326 327 328 329 332 333
 334 336 337 338 339 342 344 346 347 348 351 352 353 354 358 359 360 361
 362 365 367 370 371 373 376 377 379 381 382 383 384 386 388 390 392 394
 396 397 398 399 400 402 403 406 408 409 410 412 414 416 417 418 419 420
 421 425 427 429 431 433 434 435 436 438 440 441 443 444 445 447 449 450
 452 453 454 455 456 457 458 460 462 463 465 466 467 468 469 470 471 472
 473 474 476 477 478 479 480 482 483 484 485 488 489 491 492 496 497 499
 500 501 502 506 507 508 510 511 513 514 518 520 522 524 526 527 528 532
 533 534 536 537 538 540 541 542 543 544 545 546 548 551 552 553 554 555
 556 559 560 561 562 563 564 566 568 570 571 572 573 574 575 577 579 580
 581 582 584 586 589 592 593 594 595 596 597 599 601 603 604 606 607 608
 609 610 611 612 614 615 616 617 620 621 623 625 626 627 629 630 632 633
 634 635 636 640 641 642 643 644 645 648 649 650 652 653 654 655 656 657
 658 659 661 664 665 666 667 668 669 670 672 674 675 676 677 678 680 681
 683 686 688 689 692 693 695 696 699 700 701 703 705 707 708 711 712 713
 714 715 716 717 718 719 720 721 724 728 729 733 736 737 738 739 742 744
 745 748 750 751 752 754 755 756 758 759 760 761 762 763 764 765 766 767
 768 769 770 771 772 775 777 778 780 783 784 785 788 789 790 791 792 793
 794 796 797 798 799 800 801 802 804 806 808 811 812 813 814 815 817 819
 820 821 822 823 824 825 826 827 829 830 831 832 833 834 836 839 840 841
 842 843 844 845 847 849 850 852 854 855 856 858 859 860 861 862 863 864
 865 867 868 869 870 872 873 875 876 877 878 880 883 884 885 886 888 890]
Test set (3) indexes:
[  9  13  14  16  18  20  21  24  25  26  27  28  29  32  36  39  41  44
  52  55  60  61  62  63  69  71  72  73  77  78  81  83  87  94  97  98
  99 100 101 104 105 107 108 109 111 112 115 118 119 120 122 124 127 131
 132 135 138 141 148 152 154 157 159 163 167 168 174 177 187 188 194 196
 198 200 202 207 209 212 217 218 222 225 226 227 229 232 236 239 241 243
 246 250 253 256 259 262 268 269 277 279 280 285 286 287 289 296 301 304
 305 312 314 315 317 319 321 323 330 331 335 340 341 343 345 349 350 355
 356 357 363 364 366 368 369 372 374 375 378 380 385 387 389 391 393 395
 401 404 405 407 411 413 415 422 423 424 426 428 430 432 437 439 442 446
 448 451 459 461 464 475 481 486 487 490 493 494 495 498 503 504 505 509
 512 515 516 517 519 521 523 525 529 530 531 535 539 547 549 550 557 558
 565 567 569 576 578 583 585 587 588 590 591 598 600 602 605 613 618 619
 622 624 628 631 637 638 639 646 647 651 660 662 663 671 673 679 682 684
 685 687 690 691 694 697 698 702 704 706 709 710 722 723 725 726 727 730
 731 732 734 735 740 741 743 746 747 749 753 757 773 774 776 779 781 782
 786 787 795 803 805 807 809 810 816 818 828 835 837 838 846 848 851 853
 857 866 871 874 879 881 882 887 889]

In [21]:
print('Class ratio for every splitted dataset')

for i in range(3):
    df_trn = trn_sets[i]
    df_tst = tst_sets[i] 
    
    df_trn_class1 = df_trn[df_trn['Survived'] == 1]
    df_tst_class1 = df_tst[df_tst['Survived'] == 1]
    
    print(f"Split {i+1}")
    print(f"# of Train dataset: {df_trn.shape[0]}")
    print(f"# of Test dataset: {df_tst.shape[0]}")
    print(f"# of Survived=1 in Train dataset: {df_trn_class1.shape[0]}")
    print(f"# of Survived=1 in Test dataset: {df_tst_class1.shape[0]}")
    print(f"The ratio of Survied=1 in Train dataset: {df_trn_class1.shape[0] / df_trn.shape[0]}")
    print(f"The ratio of Survied=1 in Test dataset: {df_tst_class1.shape[0] / df_tst.shape[0]}")

Class ratio for every splitted dataset
Split 1
# of Train dataset: 594
# of Test dataset: 297
# of Survived=1 in Train dataset: 228
# of Survived=1 in Test dataset: 114
The ratio of Survied=1 in Train dataset: 0.3838383838383838
The ratio of Survied=1 in Test dataset: 0.3838383838383838
Split 2
# of Train dataset: 594
# of Test dataset: 297
# of Survived=1 in Train dataset: 228
# of Survived=1 in Test dataset: 114
The ratio of Survied=1 in Train dataset: 0.3838383838383838
The ratio of Survied=1 in Test dataset: 0.3838383838383838
Split 3
# of Train dataset: 594
# of Test dataset: 297
# of Survived=1 in Train dataset: 228
# of Survived=1 in Test dataset: 114
The ratio of Survied=1 in Train dataset: 0.3838383838383838
The ratio of Survied=1 in Test dataset: 0.3838383838383838

# Cross Validation

- <span style = 'font-size:1.3em;line-height:1.5em'>아직 모델에 대해서는 배우지 않았기 때문에, survival 확률에 대해서는 랜덤으로 생성하여 CV를 진행해보겠습니다.</span>

In [23]:
from sklearn.metrics import roc_auc_score

In [25]:
kf = StratifiedKFold(n_splits=5, shuffle=True)

In [26]:
X_columns = [col for col in df.columns if col != 'Survived']
y_columns = ['Survived']

In [27]:
results = []
for i, (trn_idxs, tst_idxs) in enumerate(kf.split(df[X_columns], df[y_columns])):
    print(f"CV ({i}): ", end='')
    tst_data = df.loc[tst_idxs]
    tst_real_y = tst_data[y_columns].values
    tst_pred_y = np.random.uniform(low = 0.3, high=0.7, size=tst_real_y.shape) # Randomly generate prediction results
    print(tst_real_y.shape, tst_pred_y.shape)
    auroc = roc_auc_score(tst_real_y, tst_pred_y)
    results.append(auroc)

CV (0): (179, 1) (179, 1)
CV (1): (178, 1) (178, 1)
CV (2): (178, 1) (178, 1)
CV (3): (178, 1) (178, 1)
CV (4): (178, 1) (178, 1)

In [29]:
np.mean(results)

0.5109819564044206

### 만약 sklearn의 모델을 사용하였다면, cross_val_score라는 함수를 사용하여 CV한 결과를 바로 얻을 수 있습니다.

In [36]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.datasets import load_wine
from sklearn.model_selection import cross_val_score
import numpy as np
import pandas as pd

# 데이터 불러오기
np_data = load_wine()
wine_data = np_data.data
wine_label = np_data.target

data = pd.DataFrame(data = wine_data, columns = np_data.feature_names,)
data['label'] = np_data.target

features = data.iloc[:,:-1]
label = pd.DataFrame(data['label'])

# 모델 선언
model = DecisionTreeClassifier()

score = cross_val_score(model, features, label, scoring = 'accuracy', cv=5)
print(f"단일 accuracy : {score}")
print(f"5번의 fold 후 평균 accuracy: {np.mean(score)}")

단일 accuracy : [0.94444444 0.86111111 0.88888889 0.91428571 0.85714286]
5번의 fold 후 평균 accuracy: 0.8931746031746032

# 연습문제

<span style = 'font-size:1.3em;line-height:1.5em'><b>1.</b> 현재까지 우리는 전체 데이터를 k-fold하여 cross validation을 진행하였다. 이제 별도의 test set을 만들고 generalization performance까지 산출해보자. 전체 데이터의 20% 가량을 test set으로 분리하고, 나머지 80% 데이터에 대해서 cross validation을 진행하라. (Reporting하는 값은 AUROC)이 때, prediction은 random.uniform으로 random하게 생성한다.</span>

<span style = 'font-size:1.3em;line-height:1.5em'><b>2.</b> 1번 문제와 동일한 작업을 하되, accuracy를 report하라. 이 때, threshold를 바꿔가면서 실행해보자. Accuracy측면에서 가장 좋은 threshold는 어디로 나오는가? (CV와 prediction result모두 random성이 있기 때문에, 사람마다 다른 결과가 나올 수 있다. 따라서, 정확하게 찾을 필요는 없고, 대략적으로 찾으면 된다.)</span>

1번과 똑같은 작업을 반복하라. 단, accruracy를 보고하라. 이 때, threshold를 바꿔가면서 최적의 threshold를 탐색해보자. (정확히 찾을 필요는 없고, 근사하게 찾으면 된다)